docutils
ipython
markdown==2.6.11
nbconvert
openssl
pip
python-dateutil
pytz
pyyaml
readline
requests
setuptools
six
sqlite
tk
unidecode
wheel
xz
yaml
zlib
blinker
feedgenerator
ghp-import
markupsafe
nbdime
pelican
pygments